body {
  background-color: #22333B;
  color: white;
}
#board1{
    border-radius: 25px;
    background-color: #5D737E;
    padding: 20px;
}

button{
    border-radius: 25px;
    background-color: #C6AC8F;
    color: white;
}
input[type="file"]::file-selector-button{
  background-color: #C6AC8F; 
  color: white;
}

